services:
  oracle-db:
    image: container-registry.oracle.com/database/express:latest
    container_name: oracle-demo
    ports:
      - "1521:1521"
    env_file:
      - env/oracle.env
    volumes:
      - oracle-data:/opt/oracle/oradata

  devcontainer:
    platform: linux/amd64
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspaces/dev-prep:cached
    environment:
      - PNPM_HOME=/workspaces/pnpm
    network_mode: service:oracle-db

volumes:
  oracle-data:
